/*===================================================DEFAULT SETUP======================================*/
/*git@github.com:atumar4031/ResposnsiveNav_HTML-CSS.git*/
:root{
    --dark-bg: #303030;
    --white-color:#fff;
    --light-gray:#f9f9f9;
}
*, html{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
main{
    width: 100vw;

}
.section{
    width: 100%;
}
/*==================================================NAV BAR START========================================*/
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-bg);
    width: 100%;
}
.nav-items{
    display: none;
}
.nav-items li.nav-item{

    padding: .5rem .7rem;
    text-align: center;
    color: var(--white-color);
}
.toggle-menu{
    position: relative;
    width: 20px;
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
}
.toggle-menu > *{
    cursor: pointer;
}
.toggle-menu .line{
    width: 100%;
    margin-bottom: 5px;
    height: 2px;
    background-color: var(--light-gray);
}
/*          menu effect */
input[type='checkbox']{
    display: none;
}
.content{
    visibility: hidden;
    position: absolute;
    width: 90vw;
    margin: 7px auto;
    display: flex;
    justify-content: center;

}
.content ul{
    width: 100%;
    list-style: none;

}
.content ul li{
    padding: 5px;
    text-align: center;
    font-size: .9rem;
}
input[type='checkbox']:checked ~ label ~ .content{
    visibility:visible;
}
/*=================================================LARGE NAV BAR========================================*/
@media screen and (min-width: 414px){
    .nav{
        display: flex;
        justify-content: flex-end;
        
    }
    .nav-items{
        display: flex;
        margin: 0 5px;
    }

    .toggle-menu{
        display: none;
    }
}
/*===================================================NAV BAR END========================================*/


/*===================================================BODY CONTENT=======================================*/
.gallary{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    height: auto;
    margin-top: 2px;
}
.gallary-boxes{
    height: 14rem;
    border-radius: 7px;
}
.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;

}
@media screen and (min-width: 768px){
     .gallary{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    
    }
    
}

@media screen and (min-width: 1024px){
     .gallary{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .box-2{
        grid-column: 2/ span 2;
        grid-row: 1/ span 2;
        height: calc( 10px + (14rem * 2));
        background-color: #f9f9f9;
    }
}